:root {
    --dark: #000;
    --light: #ffffff;
  }
  
  *,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--dark);
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  a {
    text-decoration: none;
  }
